@media only screen and (max-width: 1023px) {
    .codeSnippet{
        font-size: 100%;
        max-width: 500px;
    }
    
    .codeSnippet code{
        max-width: 500px;
    }

    .webGame{
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .codeSnippet{
        font-size: 75%;
        max-width: 500px;
    }
    
    .codeSnippet code{
        max-width: 500px;
    }

    .webGame{
        width: 960px;
        height: 640px;
        overflow: hidden;
        font-size: 0%;
        margin:  50px;
    }
    
}

@media screen {
    
}


section{
    background-color: var(--bgdef);
    border-top: 3px solid var(--lineC);
    border-bottom: 6px solid var(--lineC);

    transition: all 250ms ease-in-out;
}

section .projWebcover{
    width: 100%;
}

section:hover{
    background-color: var(--bgdef);
    border-bottom: 12px solid var(--lineC);
}

section h1{
    margin-top: 25px;
    font-size: 225%;
    margin-bottom: -35px;
    text-align: center;
}

.projTitle{
    font-size: 400%;
}

section div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

section div figure{
    margin: 25px;
    padding: 20px;
}

section div figure .centeredBox{
    width: 500px;
    height: 100%;
    font-size: 90%;
    text-align: center;
    margin: 15px;
}

section div h3{
    text-align: center;
    width: 90%;
    word-wrap: break-word;   
}

.vid{
    margin: 50px;
    width: 30%;
}